body{
  background-color: #181818;
}

.card{
  margin-bottom: 10px;
  background-color: #202020;
  color: #fff;
  border-color: #202020;
}

.card-body{
  padding: 5px;
}
.card-text{
  font-size: 18px;
}

.form-group{
  margin-bottom: 20px;
}
hr.horizontal.dark {
  background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}